In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
#import seaborn as sns
#from imblearn.over_sampling import SMOTE
from scipy.stats.mstats import winsorize
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import joblib

In [5]:
df = pd.read_csv("HR_Analytical_Data_Attrition.csv")
df

,SALARY,SENIORITY,TENURE MONTHS,MONTHS AFTER COLLEGE,BIRTH YEAR,AGE,MAPPED ROLE CLEAN,SEX,ETHNICITY,HOSPITAL TYPE,...,OVER TIME HOURS,CHURN,BUSINESS TRAVEL,ENVIRONMENT SATISFACTION,JOB SATISFACTION,MARTIAL STATUS,PERCENTAGE SALARY HIKE,PERFORMANCE RATING,RELATIONSHIP SATISFACTION,WORK LIFE BALANCE
0,68271.546,3,8,116,1984,40,occupational,F,Black,Childrens,...,15,False,Travel_Rarely,High,Low,Married,11,Excellent,Medium,Best
1,70471.235,3,37,18,1992,32,nurse,F,Hispanic,Psychiatric,...,10,True,Travel_Rarely,High,Medium,Married,11,Outstanding,Low,Good
2,31657.073,1,13,161,1986,38,occupational,F,Black,Psychiatric,...,7,True,Travel_Rarely,High,Medium,Married,18,Excellent,Medium,Better
3,26898.652,1,57,3,1981,43,technologist,M,API,Acute Care Hospitals,...,14,True,Travel_Rarely,Very High,Medium,Divorced,12,Low,Very High,Good
4,53490.238,2,47,16,1988,36,emt,F,White,Psychiatric,...,14,False,Travel_Rarely,Very High,Low,Single,19,Good,Low,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,79047.028,5,106,164,1975,49,technologist,M,Hispanic,Acute Care - Department of Defense,...,6,True,Travel_Rarely,Low,Medium,Divorced,14,Excellent,Medium,Best
299996,51505.375,1,12,69,1985,39,social,F,Multiple,Acute Care - Department of Defense,...,9,False,Travel_Rarely,Low,Medium,Married,18,Good,Very High,Best
299997,97520.177,5,45,113,1969,55,physician,M,Hispanic,Acute Care Hospitals,...,1,False,Travel_Rarely,High,High,Divorced,20,Outstanding,Low,Best
299998,55666.168,2,32,5,1987,37,emt,M,White,Childrens,...,9,True,Travel_Rarely,Medium,Low,Married,23,Low,Very High,Best
299999,49866.716,2,34,4,1986,38,physician,F,White,Childrens,...,0,True,Travel_Rarely,Medium,Medium,Single,14,Excellent,Medium,Bad

In [9]:
print(df.isnull().sum())

SALARY                           0
SENIORITY                        0
TENURE MONTHS                    0
MONTHS AFTER COLLEGE             0
BIRTH YEAR                       0
AGE                              0
MAPPED ROLE CLEAN                0
SEX                              0
ETHNICITY                        0
HOSPITAL TYPE                    0
HOSPITAL OWNERSHIP               0
COMPANY NAME                     0
CITY                             0
 STATE                           0
DISTANCE                         0
DEGREE CLEAN                     0
SCHOOL END DATE                  0
JOB START DATE                   0
JOB END DATE                 90102
USER ID                          0
OVER TIME HOURS                  0
CHURN                            0
BUSINESS TRAVEL                  0
ENVIRONMENT SATISFACTION         0
JOB SATISFACTION                 0
MARTIAL STATUS                   0
PERCENTAGE SALARY HIKE           0
PERFORMANCE RATING               0
RELATIONSHIP SATISFACTION        0
WORK LIFE BALANCE                0
dtype: int64

In [15]:
df = df.dropna()

In [16]:
print(df.isnull().sum())

SALARY                       0
SENIORITY                    0
TENURE MONTHS                0
MONTHS AFTER COLLEGE         0
BIRTH YEAR                   0
AGE                          0
MAPPED ROLE CLEAN            0
SEX                          0
ETHNICITY                    0
HOSPITAL TYPE                0
HOSPITAL OWNERSHIP           0
COMPANY NAME                 0
CITY                         0
 STATE                       0
DISTANCE                     0
DEGREE CLEAN                 0
SCHOOL END DATE              0
JOB START DATE               0
JOB END DATE                 0
USER ID                      0
OVER TIME HOURS              0
CHURN                        0
BUSINESS TRAVEL              0
ENVIRONMENT SATISFACTION     0
JOB SATISFACTION             0
MARTIAL STATUS               0
PERCENTAGE SALARY HIKE       0
PERFORMANCE RATING           0
RELATIONSHIP SATISFACTION    0
WORK LIFE BALANCE            0
dtype: int64

In [22]:
sf_df = table(df)

NameError: name 'table' is not defined

In [20]:
CATEGORICAL_COLUMNS = ["MAPPED ROLE CLEAN","SEX", "ETHNICITY","HOSPITAL TYPE", "HOSPITAL OWNERSHIP","COMPANY NAME","CITY","STATE","DISTANCE", 
                       "DEGREE CLEAN","BUSINESS TRAVEL","ENVIRONMENT SATISFACTION","JOB SATISFACTION","MARTIAL STATUS","PERFORMANCE RATING","RELATIONSHIP SATISFACTION","WORK LIFE BALANCE"]
NUMERICAL_COLUMNS = ["SALARY", "SENIORITY", "TENURE MONTHS", "MONTHS AFTER COLLEGE", "BIRTH YEAR","AGE","USER ID", "OVER TIME HOURS", "PERCENTAGE SALARY HIKE",]
Date_COLUMNS = ['SCHOOL END DATE', 'JOB START DATE', 'JOB END DATE']
LABEL_COLUMNS = ["CHURN"]
OUTPUT_COLUMNS = ["PREDICTION"]