In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
table_name = 'FRAUD_TABLE_FULL_JOIN'

In [3]:
sf_df = my_session.sql("select * from {}".format(table_name))
sf_df = sf_df.randomSplit([0.8,0.2])

In [4]:
pandas_df = sf_df[0].to_pandas()

In [5]:
print(pandas_df.isnull().sum())

CREDIT_LIMIT                          0
ACCOUNT_OPENING_DATE                  0
LAST_LOGIN                            0
CUSTOMER_SEGMENT                      0
ACCOUNT_TYPE                          0
DEVICE_USED                           0
NAME                                  0
GENDER                                0
DOB                                   0
AGE                                   0
CUSTOMER_ID                           0
AGE_GROUP                             0
AGE_OF_ACCOUNT                        0
FREQUENCY_OF_TRANSACTIONS             0
CUSTOMER_LOYALTY_SCORE                0
NUMBER_OF_REFUNDS                     0
NUMBER_OF_CHARGEBACKS                 0
CREDIT_UTILIZATION_RATIO              0
CHANGE_IN_SPENDING_BEHAVIOR           0
TRANSACTION_VELOCITY                  0
CUSTOMER_LOYALTY_CATEGORY             0
TIME_SINCE_LAST_TRANSACTION           0
TRANSACTION_ID                        0
TIME                                  0
TRANSACTION_AMOUNT                    0
MERCHANT_RISK_SCORE                   0
DISTANCE_FROM_HOME_ADDRESS            0
DISTANCE_FROM_LAST_TRANSACTION        0
TRANSACTION_DATE                      0
TRANSACTION_TYPE                      0
MERCHANT_CATEGORY                     0
PAYMENT_METHOD                        0
TIME_OF_DAY                           0
DAY_OF_WEEK                           0
TRANSACTION_STATUS                    0
COUNTY                                0
STATE                                 0
CITY                                  0
YEAR                                  0
QUARTER                               0
MONTH                                 0
ANOMALY_SCORE                         0
FRAUD_INDICATOR                       0
SUSPICIOUS_FLAG                       0
PREVIOUS_FRAUD_REPORTS                0
CROSS_BORDER_TRANSACTION_INDICATOR    0
NEW_DEVICE_INDICATOR                  0
ANAMOLY_RISK_CATEGORY                 0
MERCHANT_RISK_CATEGORY                0
FRAUD_FLAG                            0
dtype: int64

In [8]:
df = pandas_df.drop(["CUSTOMER_ID", "TRANSACTION_ID", "TRANSACTION_DATE", "ACCOUNT_OPENING_DATE", "YEAR","TIME_OF_DAY","DAY_OF_WEEK","DISTANCE_FROM_LAST_TRANSACTION","DISTANCE_FROM_HOME_ADDRESS","TIME_SINCE_LAST_TRANSACTION","LAST_LOGIN","TIME","DOB"], axis = 1)

In [9]:
df

,CREDIT_LIMIT,CUSTOMER_SEGMENT,ACCOUNT_TYPE,DEVICE_USED,NAME,GENDER,AGE,AGE_GROUP,AGE_OF_ACCOUNT,FREQUENCY_OF_TRANSACTIONS,...,MONTH,ANOMALY_SCORE,FRAUD_INDICATOR,SUSPICIOUS_FLAG,PREVIOUS_FRAUD_REPORTS,CROSS_BORDER_TRANSACTION_INDICATOR,NEW_DEVICE_INDICATOR,ANAMOLY_RISK_CATEGORY,MERCHANT_RISK_CATEGORY,FRAUD_FLAG
0,30000,Individual,Business Account,Tablet,Andrea Garcia,Female,33,Young Adult,16,61,...,October,0.66,0,0,2,No,No,High Risk,High Risk,No
1,15000,Student,Investment Account,Desktop,Victor Ray,Male,45,Adult,11,24,...,February,0.26,0,0,1,No,No,Medium Risk,High Risk,No
2,40000,Senior,Investment Account,Tablet,Kelli Lopez,Male,52,Senior,16,24,...,December,0.20,0,0,0,No,Yes,Low Risk,Very High Risk,No
3,5000,Student,Checking Account,Mobile,Traci Phillips,Male,34,Young Adult,29,95,...,January,0.03,0,1,2,Yes,Yes,Low Risk,Medium Risk,No
4,25000,Student,Investment Account,Desktop,Eric Brooks,Female,29,Young Adult,4,1,...,October,0.56,0,0,1,Yes,No,High Risk,Very High Risk,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239869,40000,Individual,Savings Account,Tablet,Deborah White,Male,43,Adult,17,4,...,August,0.83,0,0,0,No,No,Very High Risk,Low Risk,No
239870,10000,Business,Checking Account,Other,Carol Bishop,Male,39,Adult,22,45,...,June,0.39,0,0,0,No,No,Medium Risk,Low Risk,No
239871,15000,Senior,Checking Account,Other,Wendy Bell,Male,36,Adult,1,71,...,February,0.53,0,0,0,No,No,High Risk,High Risk,No
239872,5000,Senior,Investment Account,Desktop,James Austin,Male,32,Young Adult,33,80,...,November,0.77,0,0,2,No,No,Very High Risk,Very High Risk,No
239873,25000,Senior,Savings Account,Tablet,Candice Hunt,Female,34,Young Adult,30,15,...,May,0.29,0,0,0,No,No,Medium Risk,High Risk,No

In [16]:
CATEGORICAL_COLUMNS = ["TRANSACTION_TYPE","MERCHANT_CATEGORY","PAYMENT_METHOD","CUSTOMER_SEGMENT",
                       "ACCOUNT_TYPE","DEVICE_USED","TRANSACTION_STATUS","SUSPICIOUS_FLAG",
                       "CROSS_BORDER_TRANSACTION_INDICATOR","DEGREE_CLEAN","COUNTY","STATE", "NAME","GENDER","CITY","QUARTER",
                       "MONTH","AGE_GROUP","ANOMALY_RISK_CATEGORY","MERCHANT_RISK_CATEGORY","CUSTOMER_LOYALTY_CATEGORY","FRAUD_FLAG"]

NUMERICAL_COLUMNS = ["ANOMALY_SCORE","TRANSACTION_AMOUNT","CREDIT_LIMIT","AGE_OF_ACCOUNT","FREQUENCY_OF_TRANSACTIONS","MERCHANT_RISK_SCORE", 
                     "CUSTOMER_LOYALTY_SCORE","NUMBER_OF_REFUNDS","NUMBER_OF_CHARGEBACKS","CREDIT_UTILIZATION_RATIO", 
                     "CHANGE_IN_SPENDING_BEHAVIOR","TRANSACTION_VELOCITY","PREVIOUS_FRAUD_REPORTS","AGE"]

LABEL_COLUMNS = ["FRAUD_INDICATOR"]

DROPPED_COLUMNS = ["CUSTOMER_ID","TRANSACTION_ID","TRANSACTION_DATE","ACCOUNT_OPENING_DATE","YEAR","TIME_OF_DAY", "DAY_OF_WEEK", "DISTANCE_FROM_LAST_TRANSACTION", 
    "DISTANCE_FROM_HOME_ADDRESS", "TIME_SINCE_LAST_TRANSACTION", "LAST_LOGIN", 
    "TIME", "DOB"
]

OUTPUT_COLUMNS = ["PREDICTION"]

In [17]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS
feature_columns = [col for col in feature_columns if col in pandas_df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in pandas_df.columns]
 
# Split data into features and labels
X = pandas_df[feature_columns + DROPPED_COLUMNS]
y = pandas_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [20]:
X_test

,TRANSACTION_TYPE,MERCHANT_CATEGORY,PAYMENT_METHOD,CUSTOMER_SEGMENT,ACCOUNT_TYPE,DEVICE_USED,TRANSACTION_STATUS,SUSPICIOUS_FLAG,CROSS_BORDER_TRANSACTION_INDICATOR,COUNTY,...,ACCOUNT_OPENING_DATE,YEAR,TIME_OF_DAY,DAY_OF_WEEK,DISTANCE_FROM_LAST_TRANSACTION,DISTANCE_FROM_HOME_ADDRESS,TIME_SINCE_LAST_TRANSACTION,LAST_LOGIN,TIME,DOB
61302,Online,Pharmacies,Cash,Individual,Savings Account,Mobile,Failed,0,No,Richmond,...,2023-07-30,2024,Midnight,Saturday,3,1,Less than 12 hrs,2023-10-04,03:53:18,1992-12-01
22519,Online,Restaurants,Credit Card,Business,Checking Account,Tablet,On Hold,0,No,El Paso,...,2018-06-28,2021,Evening,Thursday,48,9,Less than 18 hrs,2020-01-01,18:36:28,1951-03-03
54963,ATM Withdrawal,Supermarkets,Cash,Senior,Savings Account,Mobile,Pending,0,No,Denton,...,2021-05-26,2021,Midnight,Tuesday,33,16,Less than 6 hrs,2021-06-05,02:16:26,1981-08-16
169836,Wire Transfer,Pharmacies,Credit Card,Senior,Business Account,Desktop,Failed,0,No,Delaware,...,2017-03-04,2017,Midnight,Sunday,6,33,Less than 24 hrs,2017-03-08,00:43:12,2002-03-14
230349,Bill Payment,Entertainment,Credit Card,Student,Checking Account,Tablet,Completed,0,No,Eaton,...,2017-07-05,2019,Afternoon,Monday,4,17,Less than 18 hrs,2018-01-17,12:26:51,1983-12-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16886,Bill Payment,Apparel,Debit Card,Senior,Savings Account,Tablet,In Process,0,Yes,Guilford,...,2017-06-28,2019,Midnight,Thursday,7,1,Less than 12 hrs,2018-06-20,01:12:36,1983-03-29
176363,Wire Transfer,Pharmacies,Debit Card,Student,Checking Account,Laptop,In Process,0,No,Montgomery,...,2019-03-11,2021,Midnight,Wednesday,16,33,Less than 24 hrs,2021-08-13,04:42:03,1978-01-25
100329,Online,Pharmacies,Credit Card,Business,Business Account,Laptop,Pending,0,No,Erie,...,2018-12-24,2021,Evening,Wednesday,9,6,Less than 18 hrs,2021-09-05,18:37:18,1959-03-05
152467,Direct Debit,Entertainment,Credit Card,Student,Savings Account,Desktop,Completed,0,No,Lucas,...,2017-06-08,2020,Afternoon,Saturday,38,15,Less than 18 hrs,2018-07-08,12:04:36,1955-06-23
224270,Direct Debit,Apparel,Credit Card,Business,Checking Account,Desktop,Completed,0,Yes,Hamilton,...,2017-04-14,2017,Evening,Sunday,41,34,Less than 6 hrs,2017-07-19,19:07:24,1957-07-17