In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
table_name = 'FRAUD_TABLE_FULL_JOIN'

In [3]:
sf_df = my_session.sql("select * from {}".format(table_name))
sf_df = sf_df.randomSplit([0.8,0.2])

In [4]:
pandas_df = sf_df[0].to_pandas()

In [5]:
print(pandas_df.isnull().sum())

CREDIT_LIMIT                          0
ACCOUNT_OPENING_DATE                  0
LAST_LOGIN                            0
CUSTOMER_SEGMENT                      0
ACCOUNT_TYPE                          0
DEVICE_USED                           0
NAME                                  0
GENDER                                0
DOB                                   0
AGE                                   0
CUSTOMER_ID                           0
AGE_GROUP                             0
AGE_OF_ACCOUNT                        0
FREQUENCY_OF_TRANSACTIONS             0
CUSTOMER_LOYALTY_SCORE                0
NUMBER_OF_REFUNDS                     0
NUMBER_OF_CHARGEBACKS                 0
CREDIT_UTILIZATION_RATIO              0
CHANGE_IN_SPENDING_BEHAVIOR           0
TRANSACTION_VELOCITY                  0
CUSTOMER_LOYALTY_CATEGORY             0
TIME_SINCE_LAST_TRANSACTION           0
TRANSACTION_ID                        0
TIME                                  0
TRANSACTION_AMOUNT                    0
MERCHANT_RISK_SCORE                   0
DISTANCE_FROM_HOME_ADDRESS            0
DISTANCE_FROM_LAST_TRANSACTION        0
TRANSACTION_DATE                      0
TRANSACTION_TYPE                      0
MERCHANT_CATEGORY                     0
PAYMENT_METHOD                        0
TIME_OF_DAY                           0
DAY_OF_WEEK                           0
TRANSACTION_STATUS                    0
COUNTY                                0
STATE                                 0
CITY                                  0
YEAR                                  0
QUARTER                               0
MONTH                                 0
ANOMALY_SCORE                         0
FRAUD_INDICATOR                       0
SUSPICIOUS_FLAG                       0
PREVIOUS_FRAUD_REPORTS                0
CROSS_BORDER_TRANSACTION_INDICATOR    0
NEW_DEVICE_INDICATOR                  0
ANAMOLY_RISK_CATEGORY                 0
MERCHANT_RISK_CATEGORY                0
FRAUD_FLAG                            0
dtype: int64

In [8]:
df = pandas_df.drop(["CUSTOMER_ID", "TRANSACTION_ID", "TRANSACTION_DATE", "ACCOUNT_OPENING_DATE", "YEAR","TIME_OF_DAY","DAY_OF_WEEK","DISTANCE_FROM_LAST_TRANSACTION","DISTANCE_FROM_HOME_ADDRESS","TIME_SINCE_LAST_TRANSACTION","LAST_LOGIN","TIME","DOB"], axis = 1)

In [9]:
df

,CREDIT_LIMIT,CUSTOMER_SEGMENT,ACCOUNT_TYPE,DEVICE_USED,NAME,GENDER,AGE,AGE_GROUP,AGE_OF_ACCOUNT,FREQUENCY_OF_TRANSACTIONS,...,MONTH,ANOMALY_SCORE,FRAUD_INDICATOR,SUSPICIOUS_FLAG,PREVIOUS_FRAUD_REPORTS,CROSS_BORDER_TRANSACTION_INDICATOR,NEW_DEVICE_INDICATOR,ANAMOLY_RISK_CATEGORY,MERCHANT_RISK_CATEGORY,FRAUD_FLAG
0,30000,Individual,Business Account,Tablet,Andrea Garcia,Female,33,Young Adult,16,61,...,October,0.66,0,0,2,No,No,High Risk,High Risk,No
1,15000,Student,Investment Account,Desktop,Victor Ray,Male,45,Adult,11,24,...,February,0.26,0,0,1,No,No,Medium Risk,High Risk,No
2,40000,Senior,Investment Account,Tablet,Kelli Lopez,Male,52,Senior,16,24,...,December,0.20,0,0,0,No,Yes,Low Risk,Very High Risk,No
3,5000,Student,Checking Account,Mobile,Traci Phillips,Male,34,Young Adult,29,95,...,January,0.03,0,1,2,Yes,Yes,Low Risk,Medium Risk,No
4,25000,Student,Investment Account,Desktop,Eric Brooks,Female,29,Young Adult,4,1,...,October,0.56,0,0,1,Yes,No,High Risk,Very High Risk,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239869,40000,Individual,Savings Account,Tablet,Deborah White,Male,43,Adult,17,4,...,August,0.83,0,0,0,No,No,Very High Risk,Low Risk,No
239870,10000,Business,Checking Account,Other,Carol Bishop,Male,39,Adult,22,45,...,June,0.39,0,0,0,No,No,Medium Risk,Low Risk,No
239871,15000,Senior,Checking Account,Other,Wendy Bell,Male,36,Adult,1,71,...,February,0.53,0,0,0,No,No,High Risk,High Risk,No
239872,5000,Senior,Investment Account,Desktop,James Austin,Male,32,Young Adult,33,80,...,November,0.77,0,0,2,No,No,Very High Risk,Very High Risk,No
239873,25000,Senior,Savings Account,Tablet,Candice Hunt,Female,34,Young Adult,30,15,...,May,0.29,0,0,0,No,No,Medium Risk,High Risk,No

In [23]:
CATEGORICAL_COLUMNS = ["TRANSACTION_TYPE","MERCHANT_CATEGORY","PAYMENT_METHOD","CUSTOMER_SEGMENT",
                       "ACCOUNT_TYPE","DEVICE_USED","TRANSACTION_STATUS","SUSPICIOUS_FLAG",
                       "CROSS_BORDER_TRANSACTION_INDICATOR","DEGREE_CLEAN","COUNTY","STATE","NAME","GENDER","CITY","QUARTER",
                       "MONTH","AGE_GROUP","ANOMALY_RISK_CATEGORY","MERCHANT_RISK_CATEGORY","CUSTOMER_LOYALTY_CATEGORY","FRAUD_FLAG"]

NUMERICAL_COLUMNS = ["ANOMALY_SCORE","TRANSACTION_AMOUNT","CREDIT_LIMIT","AGE_OF_ACCOUNT","FREQUENCY_OF_TRANSACTIONS","MERCHANT_RISK_SCORE", 
                     "CUSTOMER_LOYALTY_SCORE","NUMBER_OF_REFUNDS","NUMBER_OF_CHARGEBACKS","CREDIT_UTILIZATION_RATIO", 
                     "CHANGE_IN_SPENDING_BEHAVIOR","TRANSACTION_VELOCITY","PREVIOUS_FRAUD_REPORTS","AGE"]

LABEL_COLUMNS = ["FRAUD_INDICATOR"]

DROPPED_COLUMNS = ["CUSTOMER_ID","TRANSACTION_ID","TRANSACTION_DATE","ACCOUNT_OPENING_DATE","YEAR","TIME_OF_DAY",
                   "DAY_OF_WEEK", "DISTANCE_FROM_LAST_TRANSACTION","DISTANCE_FROM_HOME_ADDRESS","TIME_SINCE_LAST_TRANSACTION","LAST_LOGIN","TIME","DOB"]

OUTPUT_COLUMNS = ["PREDICTION"]

In [24]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS
feature_columns = [col for col in feature_columns if col in pandas_df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in pandas_df.columns]
 
# Split data into features and labels
X = pandas_df[feature_columns + DROPPED_COLUMNS]
y = pandas_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [29]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47975 entries, 61302 to 224270
Data columns (total 47 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   TRANSACTION_TYPE                    47975 non-null  object
 1   MERCHANT_CATEGORY                   47975 non-null  object
 2   PAYMENT_METHOD                      47975 non-null  object
 3   CUSTOMER_SEGMENT                    47975 non-null  object
 4   ACCOUNT_TYPE                        47975 non-null  object
 5   DEVICE_USED                         47975 non-null  object
 6   TRANSACTION_STATUS                  47975 non-null  object
 7   SUSPICIOUS_FLAG                     47975 non-null  int8
 8   CROSS_BORDER_TRANSACTION_INDICATOR  47975 non-null  object
 9   COUNTY                              47975 non-null  object
 10  STATE                               47975 non-null  object
 11  NAME                                47975 non-null  object
 12  GENDER                              47975 non-null  object
 13  CITY                                47975 non-null  object
 14  QUARTER                             47975 non-null  object
 15  MONTH                               47975 non-null  object
 16  AGE_GROUP                           47975 non-null  object
 17  MERCHANT_RISK_CATEGORY              47975 non-null  object
 18  CUSTOMER_LOYALTY_CATEGORY           47975 non-null  object
 19  FRAUD_FLAG                          47975 non-null  object
 20  ANOMALY_SCORE                       47975 non-null  float64
 21  TRANSACTION_AMOUNT                  47975 non-null  float64
 22  CREDIT_LIMIT                        47975 non-null  int32
 23  AGE_OF_ACCOUNT                      47975 non-null  int8
 24  FREQUENCY_OF_TRANSACTIONS           47975 non-null  int8
 25  MERCHANT_RISK_SCORE                 47975 non-null  float64
 26  CUSTOMER_LOYALTY_SCORE              47975 non-null  float64
 27  NUMBER_OF_REFUNDS                   47975 non-null  int8
 28  NUMBER_OF_CHARGEBACKS               47975 non-null  int8
 29  CREDIT_UTILIZATION_RATIO            47975 non-null  float64
 30  CHANGE_IN_SPENDING_BEHAVIOR         47975 non-null  float64
 31  TRANSACTION_VELOCITY                47975 non-null  float64
 32  PREVIOUS_FRAUD_REPORTS              47975 non-null  int8
 33  AGE                                 47975 non-null  object
 34  CUSTOMER_ID                         47975 non-null  object
 35  TRANSACTION_ID                      47975 non-null  object
 36  TRANSACTION_DATE                    47975 non-null  object
 37  ACCOUNT_OPENING_DATE                47975 non-null  object
 38  YEAR                                47975 non-null  int16
 39  TIME_OF_DAY                         47975 non-null  object
 40  DAY_OF_WEEK                         47975 non-null  object
 41  DISTANCE_FROM_LAST_TRANSACTION      47975 non-null  int8
 42  DISTANCE_FROM_HOME_ADDRESS          47975 non-null  int8
 43  TIME_SINCE_LAST_TRANSACTION         47975 non-null  object
 44  LAST_LOGIN                          47975 non-null  object
 45  TIME                                47975 non-null  object
 46  DOB                                 47975 non-null  object
dtypes: float64(7), int16(1), int32(1), int8(8), object(30)
memory usage: 14.5+ MB