In [ ]:
!pip install --upgrade pip
!pip install fosforml numpy pandas matplotlib scikit-learn seaborn python-dateutil
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml 
!pip install fosforio
!pip install refractio
!pip install refractml

In [ ]:
!pip install seaborn scipy xgboost pandas dice-ml tabulate numpy scikit-learn pandas-profiling plotly matplotlib scipy statsmodels seaborn pydantic-settings

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import seaborn as sns
from scipy.stats.mstats import winsorize
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import joblib
from fosforml import *
from fosforml.constants import MLModelFlavours
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [2]:
from refractio import snowflake
snowflake.get_connection(connection_name="FRAUD_DETECTION_MASTER_TABLE")

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.
Exception occurred in getting snowflake connection: 'connectionSources'

In [3]:
df = snowflake.get_dataframe("FRAUD_DETECTION_MASTER_TABLE")
df

,TRANSACTION_ID,ANOMALY_SCORE,TIME,TRANSACTION_AMOUNT,CREDIT_LIMIT,AGE_OF_ACCOUNT,FREQUENCY_OF_TRANSACTIONS,MERCHANT_RISK_SCORE,CUSTOMER_LOYALTY_SCORE,DISTANCE_FROM_HOME_ADDRESS,...,CUSTOMER_ID,YEAR,QUARTER,MONTH,AGE_GROUP,ANAMOLY_RISK_CATEGORY,MERCHANT_RISK_CATEGORY,CUSTOMER_LOYALTY_CATEGORY,TIME_SINCE_LAST_TRANSACTION,FRAUD_FLAG
0,73c6cbd9-43d5-4a53-a9d5-7a283cc289b5,0.11,18:06:16,963.55,25000,1,70,0.88,0.20,21,...,CID0000001,2019,Q3,July,Senior,Low Risk,Very High Risk,Low Loyalty,Less than 18 hrs,False
1,281d618c-958c-4ce3-8b6a-43b2423b9412,0.16,17:51:31,298.93,25000,39,47,0.03,0.46,5,...,CID0000002,2020,Q4,December,Senior,Low Risk,Low Risk,Medium Loyalty,Less than 18 hrs,False
2,563ed35a-0876-4a38-b64c-27d2d50c75b0,0.17,12:40:34,9793.17,20000,38,48,0.39,0.24,16,...,CID0000003,2023,Q3,September,Adult,Low Risk,Medium Risk,Low Loyalty,Less than 24 hrs,False
3,04729e52-4f3e-47dd-89df-523b8930fd8e,0.62,23:03:06,3871.99,15000,29,62,0.52,0.32,43,...,CID0000004,2023,Q3,September,Senior,High Risk,High Risk,Medium Loyalty,Less than 24 hrs,False
4,2df7a38a-e571-4aae-a360-3bdbc865d30b,0.14,11:44:50,5910.92,10000,3,93,0.87,0.17,16,...,CID0000005,2024,Q2,May,Young Adult,Low Risk,Very High Risk,Low Loyalty,Less than 24 hrs,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,191c43dd-a4da-4fd9-a126-5343b69a8cc0,0.29,21:56:33,3781.79,40000,2,33,0.49,0.24,39,...,CID0299996,2023,Q3,September,Young Adult,Medium Risk,Medium Risk,Low Loyalty,Less than 6 hrs,False
299996,509cd67d-4099-4b37-afc4-a072cd2f7e49,0.08,18:20:25,7831.46,25000,34,10,0.09,0.13,2,...,CID0299997,2023,Q3,August,Senior,Low Risk,Low Risk,Low Loyalty,Less than 24 hrs,False
299997,b49012f1-9f74-436c-a247-7b4cc262fc80,0.03,23:09:19,7723.25,5000,32,52,0.14,0.47,36,...,CID0299998,2018,Q1,January,Adult,Low Risk,Low Risk,Medium Loyalty,Less than 12 hrs,False
299998,d1e8afcd-b50f-44ca-b6d6-444dd0468e33,0.75,10:58:08,7227.09,5000,3,30,0.80,0.86,2,...,CID0299999,2022,Q4,October,Senior,High Risk,Very High Risk,Very High Loyalty,Less than 18 hrs,False
299999,4398c8a5-e279-4a53-a62e-698719dd7232,0.40,03:05:02,1380.30,10000,8,96,0.86,0.99,9,...,CID0300000,2018,Q1,March,Senior,Medium Risk,Very High Risk,Very High Loyalty,Less than 12 hrs,False

In [4]:
print(df.isnull().sum())

TRANSACTION_ID                        0
ANOMALY_SCORE                         0
TIME                                  0
TRANSACTION_AMOUNT                    0
CREDIT_LIMIT                          0
AGE_OF_ACCOUNT                        0
FREQUENCY_OF_TRANSACTIONS             0
MERCHANT_RISK_SCORE                   0
CUSTOMER_LOYALTY_SCORE                0
DISTANCE_FROM_HOME_ADDRESS            0
DISTANCE_FROM_LAST_TRANSACTION        0
NUMBER_OF_REFUNDS                     0
NUMBER_OF_CHARGEBACKS                 0
CREDIT_UTILIZATION_RATIO              0
CHANGE_IN_SPENDING_BEHAVIOR           0
TRANSACTION_VELOCITY                  0
TRANSACTION_DATE                      0
ACCOUNT_OPENING_DATE                  0
LAST_LOGIN                            0
FRAUD_INDICATOR                       0
SUSPICIOUS_FLAG                       0
TRANSACTION_TYPE                      0
MERCHANT_CATEGORY                     0
PAYMENT_METHOD                        0
CUSTOMER_SEGMENT                      0
ACCOUNT_TYPE                          0
DEVICE_USED                           0
TIME_OF_DAY                           0
DAY_OF_WEEK                           0
TRANSACTION_STATUS                    0
PREVIOUS_FRAUD_REPORTS                0
CROSS_BORDER_TRANSACTION_INDICATOR    0
NEW_DEVICE_INDICATOR                  0
COUNTY                                0
STATE                                 0
NAME                                  0
GENDER                                0
DOB                                   0
CITY                                  0
AGE                                   0
CUSTOMER_ID                           0
YEAR                                  0
QUARTER                               0
MONTH                                 0
AGE_GROUP                             0
ANAMOLY_RISK_CATEGORY                 0
MERCHANT_RISK_CATEGORY                0
CUSTOMER_LOYALTY_CATEGORY             0
TIME_SINCE_LAST_TRANSACTION           0
FRAUD_FLAG                            0
dtype: int64

In [7]:
df = Original_df.drop(["TRANSACTION_ID","CUSTOMER_ID","LAST_LOGIN","TRANSACTION_DATE","ACCOUNT_OPENING_DATE","TIME","DOB","YEAR"], axis = 1)

In [6]:
Original_df = df

In [8]:
df

,ANOMALY_SCORE,TRANSACTION_AMOUNT,CREDIT_LIMIT,AGE_OF_ACCOUNT,FREQUENCY_OF_TRANSACTIONS,MERCHANT_RISK_SCORE,CUSTOMER_LOYALTY_SCORE,DISTANCE_FROM_HOME_ADDRESS,DISTANCE_FROM_LAST_TRANSACTION,NUMBER_OF_REFUNDS,...,CITY,AGE,QUARTER,MONTH,AGE_GROUP,ANAMOLY_RISK_CATEGORY,MERCHANT_RISK_CATEGORY,CUSTOMER_LOYALTY_CATEGORY,TIME_SINCE_LAST_TRANSACTION,FRAUD_FLAG
0,0.11,963.55,25000,1,70,0.88,0.20,21,16,5,...,Toledo,65,Q3,July,Senior,Low Risk,Very High Risk,Low Loyalty,Less than 18 hrs,False
1,0.16,298.93,25000,39,47,0.03,0.46,5,45,3,...,Rockford,62,Q4,December,Senior,Low Risk,Low Risk,Medium Loyalty,Less than 18 hrs,False
2,0.17,9793.17,20000,38,48,0.39,0.24,16,23,4,...,Cincinnati,49,Q3,September,Adult,Low Risk,Medium Risk,Low Loyalty,Less than 24 hrs,False
3,0.62,3871.99,15000,29,62,0.52,0.32,43,6,3,...,Reading,65,Q3,September,Senior,High Risk,High Risk,Medium Loyalty,Less than 24 hrs,False
4,0.14,5910.92,10000,3,93,0.87,0.17,16,28,0,...,Raleigh,24,Q2,May,Young Adult,Low Risk,Very High Risk,Low Loyalty,Less than 24 hrs,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0.29,3781.79,40000,2,33,0.49,0.24,39,37,4,...,San Antonio,28,Q3,September,Young Adult,Medium Risk,Medium Risk,Low Loyalty,Less than 6 hrs,False
299996,0.08,7831.46,25000,34,10,0.09,0.13,2,40,1,...,Erie,67,Q3,August,Senior,Low Risk,Low Risk,Low Loyalty,Less than 24 hrs,False
299997,0.03,7723.25,5000,32,52,0.14,0.47,36,32,1,...,Allentown,38,Q1,January,Adult,Low Risk,Low Risk,Medium Loyalty,Less than 12 hrs,False
299998,0.75,7227.09,5000,3,30,0.80,0.86,2,45,3,...,Joliet,64,Q4,October,Senior,High Risk,Very High Risk,Very High Loyalty,Less than 18 hrs,False
299999,0.40,1380.30,10000,8,96,0.86,0.99,9,20,3,...,Sterling Heights,78,Q1,March,Senior,Medium Risk,Very High Risk,Very High Loyalty,Less than 12 hrs,False

In [9]:
CATEGORICAL_COLUMNS = ["TRANSACTION_TYPE","MERCHANT_CATEGORY","PAYMENT_METHOD","CUSTOMER_SEGMENT","ACCOUNT_TYPE","DEVICE_USED","TIME_OF_DAY","DAY_OF_WEEK","TRANSACTION_STATUS","PREVIOUS_FRAUD_REPORTS","CROSS_BORDER_TRANSACTION_INDICATOR"
                       ,"NEW_DEVICE_INDICATOR","COUNTY","STATE","NAME","GENDER","CITY","AGE_GROUP","ANAMOLY_RISK_CATEGORY","MERCHANT_RISK_CATEGORY"
                       ,"CUSTOMER_LOYALTY_CATEGORY","FRAUD_FLAG"]
NUMERICAL_COLUMNS = ["ANOMALY_SCORE","TRANSACTION_AMOUNT","CREDIT_LIMIT","AGE_OF_ACCOUNT","FREQUENCY_OF_TRANSACTIONS"
                     ,"MERCHANT_RISK_SCORE","CUSTOMER_LOYALTY_SCORE","DISTANCE_FROM_HOME_ADDRESS","DISTANCE_FROM_LAST_TRANSACTION",
                     "NUMBER_OF_REFUNDS","NUMBER_OF_CHARGEBACKS","CREDIT_UTILIZATION_RATIO","CHANGE_IN_SPENDING_BEHAVIOR","TRANSACTION_VELOCITY","AGE","QUARTER","MONTH","TIME_SINCE_LAST_TRANSACTION","SUSPICIOUS_FLAG"]
LABEL_COLUMNS = ["FRAUD_INDICATOR"]
DROPPED_COLUMNS = ["TRANSACTION_ID","CUSTOMER_ID","LAST_LOGIN","TRANSACTION_DATE","ACCOUNT_OPENING_DATE","TIME","DOB","YEAR"]
OUTPUT_COLUMNS = ["PREDICTION"]

In [10]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS + NUMERICAL_COLUMNS
feature_columns = [col for col in feature_columns if col in Original_df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in Original_df.columns]
 
# Split data into features and labels
X = Original_df[feature_columns + DROPPED_COLUMNS]
y = Original_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [13]:
X_test

,TRANSACTION_TYPE,MERCHANT_CATEGORY,PAYMENT_METHOD,CUSTOMER_SEGMENT,ACCOUNT_TYPE,DEVICE_USED,TIME_OF_DAY,DAY_OF_WEEK,TRANSACTION_STATUS,PREVIOUS_FRAUD_REPORTS,...,TIME_SINCE_LAST_TRANSACTION,SUSPICIOUS_FLAG,TRANSACTION_ID,CUSTOMER_ID,LAST_LOGIN,TRANSACTION_DATE,ACCOUNT_OPENING_DATE,TIME,DOB,YEAR
4941,ATM Withdrawal,Other,Cash,Individual,Checking Account,Laptop,Night,Wednesday,Failed,2,...,Less than 24 hrs,0,852661ff-24f1-4f64-a45f-cd47c3161b77,CID0004942,2018-06-14,2019-09-11,2017-02-12,23:00:40,1984-05-06,2019
51775,ATM Withdrawal,Other,Debit Card,Student,Savings Account,Laptop,Afternoon,Sunday,Pending,2,...,Less than 24 hrs,0,137afe2b-81b6-4281-9a80-d12ca9b963bb,CID0051776,2019-09-27,2019-10-27,2019-06-13,14:36:53,1989-10-30,2019
115253,In-Store Purchase,Travel,Cash,Student,Savings Account,Other,Morning,Saturday,Completed,0,...,Less than 6 hrs,0,38c374d2-0d2a-4354-a596-697523405ebf,CID0115254,2021-10-11,2022-10-29,2019-07-29,06:48:34,1981-08-07,2022
299321,ATM Withdrawal,Restaurants,Debit Card,Senior,Checking Account,Tablet,Morning,Saturday,Pending,0,...,Less than 12 hrs,0,b5216049-7160-47e9-b094-8c17fda7ae41,CID0299322,2023-06-01,2024-01-20,2021-06-23,11:55:38,1993-10-17,2024
173570,Online,Supermarkets,Debit Card,Senior,Savings Account,Tablet,Night,Thursday,In Process,0,...,Less than 12 hrs,0,d531dad1-a509-4eaf-b16d-174f847d8421,CID0173571,2019-08-01,2024-07-11,2019-03-07,22:49:08,1971-06-16,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75094,Direct Debit,Other,Cash,Individual,Checking Account,Tablet,Evening,Sunday,Failed,0,...,Less than 18 hrs,1,0d87975a-55eb-4071-8617-75b829b21ac1,CID0075095,2020-01-24,2021-12-26,2019-01-10,20:05:34,1977-11-03,2021
171847,Direct Debit,Apparel,Credit Card,Senior,Business Account,Mobile,Afternoon,Monday,Completed,1,...,Less than 24 hrs,0,6b50575c-a4d4-4e00-b892-41c9f1de1805,CID0171848,2021-08-31,2022-11-21,2018-01-19,12:21:24,1966-11-03,2022
138313,Direct Debit,Other,Debit Card,Student,Checking Account,Laptop,Afternoon,Tuesday,In Process,1,...,Less than 12 hrs,0,3f66e64f-163e-4d44-b46d-d4016748cbd3,CID0138314,2024-03-12,2024-03-26,2023-03-18,15:22:08,1943-08-21,2024
271268,Online,Electronics,E-Wallet,Individual,Checking Account,Desktop,Morning,Sunday,On Hold,1,...,Less than 24 hrs,0,e4f4ca99-0bd9-4ffd-9fb8-34c33de4bf0a,CID0271269,2023-04-27,2023-10-15,2017-03-03,07:19:53,1950-08-27,2023
72612,Bill Payment,Apparel,E-Wallet,Student,Investment Account,Mobile,Afternoon,Wednesday,Pending,0,...,Less than 6 hrs,0,538e6b22-38c0-40e5-b74a-1cbc96f2dd55,CID0072613,2017-04-19,2017-04-26,2017-03-29,17:49:11,1955-11-10,2017