In [ ]:
!pip install --upgrade pip
!pip install fosforml numpy pandas matplotlib scikit-learn seaborn python-dateutil
!pip uninstall urllib3 -y
!pip install urllib3==1.26.15
!pip install fosforml 
!pip install fosforio
!pip install refractio
!pip install refractml

In [ ]:
!pip install seaborn scipy xgboost pandas dice-ml tabulate numpy scikit-learn pandas-profiling plotly matplotlib scipy statsmodels seaborn pydantic-settings

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import seaborn as sns
from scipy.stats.mstats import winsorize
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
import joblib
from fosforml import *
from fosforml.constants import MLModelFlavours
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [2]:
from refractio import snowflake
snowflake.get_connection(connection_name="HR_ATTRITION")

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.
Exception occurred in getting snowflake connection: 'connectionSources'

In [3]:
df = snowflake.get_dataframe("HR_ATTRITION")
df

,SALARY,EMPLOYEE_ID,JOB_SATISFACTION,PERCENTAGE_SALARY_HIKE,PERFORMANCE_RATING,OVER_TIME,RELATIONSHIP_SATISFACTION,CHURN_VALUE,CHURN,MAPPED_ROLE,...,CHURN_F,SUM_OF_TENURE,SUM_OF_AGE,JOB_STARTDATE,JOB_ENDDATE,OVERTIME_HOURS,WORK_LIFE_BALANCE,BUSINESS_TRAVEL,ENVIRONMENT_SATISFACTION,USER_ID
0,43118.65,94215814,High,20,Outstanding,No,Medium,FALSE,0,Manager,...,0,0,0,2016-06-01,2019-08-01,4,Best,Travel Rarely,Medium,334493477
1,40808.18,72815065,Very High,12,Low,No,Very High,TRUE,1,Manager,...,0,0,0,2015-05-01,None,7,Best,Travel Frequently,Low,713161033
2,36394.69,14265310,Low,13,Good,No,Medium,FALSE,0,Manager,...,0,0,0,2017-06-01,2018-07-01,8,Good,Travel Rarely,High,154131612
3,96880.66,38467325,Low,21,Good,No,Very High,FALSE,0,Manager,...,0,0,0,2019-09-01,2024-07-01,14,Bad,Travel Rarely,Very High,518711452
4,97579.66,98539130,High,17,Good,No,Low,FALSE,0,Software Engineer,...,0,0,0,2019-09-01,2024-08-01,9,Best,Travel Frequently,Low,518711452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,101713.50,66752547,Low,17,Good,No,Very High,FALSE,0,Team Lead,...,0,0,0,2021-12-01,2023-06-01,1,Good,Travel Rarely,Low,492160448
299996,101640.50,61579487,High,13,Excellent,No,Very High,FALSE,0,Team Lead,...,0,0,0,2021-12-01,2023-06-01,1,Best,Travel Frequently,Low,492160448
299997,101998.50,48056583,Very High,21,Outstanding,No,Medium,FALSE,0,Technical Support,...,0,0,0,2021-12-01,2023-06-01,1,Good,Travel Rarely,Low,492160448
299998,101306.50,86413761,Medium,20,Low,No,Low,FALSE,0,Technical Support,...,609,37548,9563,2021-12-01,2023-06-01,1,Best,Travel Frequently,Medium,492160448
299999,96701.50,22526637,High,14,Low,Yes,Very High,FALSE,0,System Administrator,...,0,0,0,2021-12-01,2023-06-01,1,Bad,Travel Rarely,Medium,492160448

In [4]:
print(df.isnull().sum())

SALARY                                             0
EMPLOYEE_ID                                        0
JOB_SATISFACTION                                   0
PERCENTAGE_SALARY_HIKE                             0
PERFORMANCE_RATING                                 0
OVER_TIME                                          0
RELATIONSHIP_SATISFACTION                          0
CHURN_VALUE                                        0
CHURN                                              0
MAPPED_ROLE                                        0
ORGANISATIONAL_TYPE                                0
ORGANISATIONAL_OWNERSHIP                           0
COMPANY_NAME                                       0
CITY                                               0
STATE                                              0
DISTANCE                                           0
DEGREE_CLEAN                                       0
SEX                                                0
ETHNICITY                                          0
MARITAL_STATUS                                     0
TENURE_MONTHS                                      0
BIRTH_YEAR                                         0
AGE                                                0
SENIORITY                                          0
SCHOOL_ENDDATE                                     0
MONTHS_AFTER_COLLEGE                               0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH        0
PEOPLE_JOINED_AND_NEVER_LEFT                       0
POPULATION                                         0
CHURN_OTHER                                        0
CHURN_F                                            0
SUM_OF_TENURE                                      0
SUM_OF_AGE                                         0
JOB_STARTDATE                                      0
JOB_ENDDATE                                    90076
OVERTIME_HOURS                                     0
WORK_LIFE_BALANCE                                  0
BUSINESS_TRAVEL                                    0
ENVIRONMENT_SATISFACTION                           0
USER_ID                                            0
dtype: int64

In [5]:
Original_df = df.dropna()

In [6]:
print(Original_df.isnull().sum())

SALARY                                         0
EMPLOYEE_ID                                    0
JOB_SATISFACTION                               0
PERCENTAGE_SALARY_HIKE                         0
PERFORMANCE_RATING                             0
OVER_TIME                                      0
RELATIONSHIP_SATISFACTION                      0
CHURN_VALUE                                    0
CHURN                                          0
MAPPED_ROLE                                    0
ORGANISATIONAL_TYPE                            0
ORGANISATIONAL_OWNERSHIP                       0
COMPANY_NAME                                   0
CITY                                           0
STATE                                          0
DISTANCE                                       0
DEGREE_CLEAN                                   0
SEX                                            0
ETHNICITY                                      0
MARITAL_STATUS                                 0
TENURE_MONTHS                                  0
BIRTH_YEAR                                     0
AGE                                            0
SENIORITY                                      0
SCHOOL_ENDDATE                                 0
MONTHS_AFTER_COLLEGE                           0
PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH    0
PEOPLE_JOINED_AND_NEVER_LEFT                   0
POPULATION                                     0
CHURN_OTHER                                    0
CHURN_F                                        0
SUM_OF_TENURE                                  0
SUM_OF_AGE                                     0
JOB_STARTDATE                                  0
JOB_ENDDATE                                    0
OVERTIME_HOURS                                 0
WORK_LIFE_BALANCE                              0
BUSINESS_TRAVEL                                0
ENVIRONMENT_SATISFACTION                       0
USER_ID                                        0
dtype: int64

In [22]:
df = Original_df.drop(["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_VALUE","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","POPULATION","CHURN_OTHER","CHURN_F","SUM_OF_TENURE","SUM_OF_AGE"], axis = 1)

In [23]:
CATEGORICAL_COLUMNS = ["MAPPED_ROLE","SEX", "ETHNICITY","ORGANISATIONAL_TYPE", "ORGANISATIONAL_OWNERSHIP","COMPANY_NAME","CITY","STATE","DISTANCE",
                       "DEGREE_CLEAN","BUSINESS_TRAVEL","ENVIRONMENT_SATISFACTION","JOB_SATISFACTION","MARITAL_STATUS","OVER_TIME","PERFORMANCE_RATING","RELATIONSHIP_SATISFACTION","WORK_LIFE_BALANCE"]
NUMERICAL_COLUMNS = ["SALARY", "SENIORITY", "TENURE_MONTHS", "MONTHS_AFTER_COLLEGE", "BIRTH_YEAR","AGE","OVERTIME_HOURS","PERCENTAGE_SALARY_HIKE"]
LABEL_COLUMNS = ["CHURN"]
DROPPED_COLUMNS = ["USER_ID", "EMPLOYEE_ID", "JOB_STARTDATE", "JOB_ENDDATE", "SCHOOL_ENDDATE","CHURN_VALUE","PEOPLE_JOINED_BEFORE_AND_LEFT_IN_THIS_MONTH","PEOPLE_JOINED_AND_NEVER_LEFT","POPULATION","CHURN_OTHER","CHURN_F","SUM_OF_TENURE","SUM_OF_AGE"]
OUTPUT_COLUMNS = ["PREDICTION"]

In [38]:
# Filter feature columns
feature_columns = CATEGORICAL_COLUMNS+DROPPED_COLUMNS
feature_columns = [col for col in feature_columns if col in df.columns]
LABEL_COLUMNS = [col for col in LABEL_COLUMNS if col in df.columns]
DROPPED_COLUMNS = [col for col in DROPPED_COLUMNS if col in df.columns]
 
# Split data into features and labels
X = Original_df[feature_columns]
y = Original_df[LABEL_COLUMNS].values.ravel()  # Flatten to 1D array for consistency

In [39]:
feature_columns

['MAPPED_ROLE',
 'SEX',
 'ETHNICITY',
 'ORGANISATIONAL_TYPE',
 'ORGANISATIONAL_OWNERSHIP',
 'COMPANY_NAME',
 'CITY',
 'STATE',
 'DISTANCE',
 'DEGREE_CLEAN',
 'BUSINESS_TRAVEL',
 'ENVIRONMENT_SATISFACTION',
 'JOB_SATISFACTION',
 'MARITAL_STATUS',
 'OVER_TIME',
 'PERFORMANCE_RATING',
 'RELATIONSHIP_SATISFACTION',
 'WORK_LIFE_BALANCE']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [28]:
X_test

,MAPPED_ROLE,SEX,ETHNICITY,ORGANISATIONAL_TYPE,ORGANISATIONAL_OWNERSHIP,COMPANY_NAME,CITY,STATE,DISTANCE,DEGREE_CLEAN,...,RELATIONSHIP_SATISFACTION,WORK_LIFE_BALANCE,SALARY,SENIORITY,TENURE_MONTHS,MONTHS_AFTER_COLLEGE,BIRTH_YEAR,AGE,OVERTIME_HOURS,PERCENTAGE_SALARY_HIKE
264990,Web Developer,F,White,Management Consulting,Limited Liability Company,Catalyst Consulting,Modesto,CA,5-10 miles,Professional Certificate,...,Low,Better,68824.38,2,11,13,1996,28,10,11
141510,Specialist,F,Multiple,Retail Services,Franchise,Nexus Networks,Rochester,MN,>10 miles,Masters Degree,...,Low,Good,63501.03,3,8,116,1984,40,18,15
235125,Web Developer,F,White,Environmental Conservation,Nonprofit,Stellar Solutions,Austin,TX,5-10 miles,Undergraduate Diploma,...,High,Best,31992.65,1,13,160,1986,38,7,18
96688,Software Engineer,M,Black,Retail Services,Franchise,Nexus Networks,Rochester,MN,>10 miles,Bachelors Degree,...,Low,Good,26560.46,1,2,9,1987,37,1,15
89794,Web Developer,M,Black,Marketing Agency,Partnership,Synergy Solutions,York,PA,<2 miles,Bachelors Degree,...,Very High,Better,65320.62,1,238,3,1971,53,11,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227766,Web Developer,M,Hispanic,Environmental Conservation,Nonprofit,Stellar Solutions,Orlando,FL,2-5 miles,Professional Certificate,...,Medium,Good,70886.36,2,31,81,1989,35,6,17
13714,Software Engineer,F,Multiple,Corporation,Private,Atlas Enterprises,Portland,OR,<2 miles,Professional Certificate,...,Medium,Best,47913.34,1,3,31,1994,30,7,21
95085,Software Engineer,F,API,Retail Services,Franchise,Nexus Networks,Rochester,MN,5-10 miles,Masters Degree,...,Very High,Bad,47983.80,2,24,29,1986,38,14,20
252677,Specialist,F,Multiple,Management Consulting,Limited Liability Company,Catalyst Consulting,Chicago,IL,<2 miles,Associates Degree,...,Medium,Best,62443.51,2,64,79,1978,46,13,12
297067,Web Developer,M,API,Financial Advisory,Trust,Summit Strategies,Columbus,OH,>10 miles,Associates Degree,...,Very High,Best,68316.21,2,60,8,1991,33,9,13

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from xgboost import XGBClassifier
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
 
# Define transformers
categorical_transformer = make_pipeline(
    SimpleImputer(strategy='constant', fill_value='missing'),
    OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
)
 
numerical_transformer = make_pipeline(
    SimpleImputer(strategy='mean'),
    MinMaxScaler(clip=True)
)
 
# Create preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, CATEGORICAL_COLUMNS),
        ('num', numerical_transformer, NUMERICAL_COLUMNS)
    ]
)
 
# Create pipeline
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', XGBClassifier())
])

pipeline.fit(X_train, y_train)
result = pipeline.predict(X_test)

In [13]:
result

array([1, 1, 1, ..., 1, 0, 0])

In [14]:
from joblib import dump, load
filename = "HR_Attrition_V1.joblib"
dump(pipeline, filename)

['HR_Attrition_V1.joblib']

In [15]:
y_pred = pipeline.predict(X_test)
y_prob = pipeline.predict_proba(X_test)

In [16]:
from refractml import *

from refractml.constants import MLModelFlavours

In [17]:
@scoring_func
def score(model, request):
    payload_dict = request.json["payload"]
    data_json = eval(payload)
    data = pd.DataFrame([data_json])
    prediction = str(model.predict(data)[0])
    return prediction

In [18]:
import requests
import datetime
import pandas as pd 
payload = str(X_test.iloc[123].to_dict())
req = requests.Request()
req.json = {"payload": payload}

print(score(pipeline, req))

1

In [19]:
req.json

{'payload': "{'MAPPED_ROLE': 'Web Developer', 'SEX': 'F', 'ETHNICITY': 'Multiple', 'ORGANISATIONAL_TYPE': 'Social Services', 'ORGANISATIONAL_OWNERSHIP': 'Nonprofit', 'COMPANY_NAME': 'Phoenix Foundation', 'CITY': 'Cleveland', 'STATE': 'OH', 'DISTANCE': '5-10 miles', 'DEGREE_CLEAN': 'Bachelors Degree', 'BUSINESS_TRAVEL': 'Travel Rarely', 'ENVIRONMENT_SATISFACTION': 'Medium', 'JOB_SATISFACTION': 'Low', 'MARITAL_STATUS': 'Single', 'OVER_TIME': 'Yes', 'PERFORMANCE_RATING': 'Excellent', 'RELATIONSHIP_SATISFACTION': 'Very High', 'WORK_LIFE_BALANCE': 'Bad', 'SALARY': 49296.99, 'SENIORITY': 1, 'TENURE_MONTHS': 12, 'MONTHS_AFTER_COLLEGE': 68, 'BIRTH_YEAR': '1985', 'AGE': 39, 'OVERTIME_HOURS': 6, 'PERCENTAGE_SALARY_HIKE': 13}"}

In [20]:
X_test

,MAPPED_ROLE,SEX,ETHNICITY,ORGANISATIONAL_TYPE,ORGANISATIONAL_OWNERSHIP,COMPANY_NAME,CITY,STATE,DISTANCE,DEGREE_CLEAN,...,RELATIONSHIP_SATISFACTION,WORK_LIFE_BALANCE,SALARY,SENIORITY,TENURE_MONTHS,MONTHS_AFTER_COLLEGE,BIRTH_YEAR,AGE,OVERTIME_HOURS,PERCENTAGE_SALARY_HIKE
264990,Web Developer,F,White,Management Consulting,Limited Liability Company,Catalyst Consulting,Modesto,CA,5-10 miles,Professional Certificate,...,Low,Better,68824.38,2,11,13,1996,28,10,11
141510,Specialist,F,Multiple,Retail Services,Franchise,Nexus Networks,Rochester,MN,>10 miles,Masters Degree,...,Low,Good,63501.03,3,8,116,1984,40,18,15
235125,Web Developer,F,White,Environmental Conservation,Nonprofit,Stellar Solutions,Austin,TX,5-10 miles,Undergraduate Diploma,...,High,Best,31992.65,1,13,160,1986,38,7,18
96688,Software Engineer,M,Black,Retail Services,Franchise,Nexus Networks,Rochester,MN,>10 miles,Bachelors Degree,...,Low,Good,26560.46,1,2,9,1987,37,1,15
89794,Web Developer,M,Black,Marketing Agency,Partnership,Synergy Solutions,York,PA,<2 miles,Bachelors Degree,...,Very High,Better,65320.62,1,238,3,1971,53,11,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227766,Web Developer,M,Hispanic,Environmental Conservation,Nonprofit,Stellar Solutions,Orlando,FL,2-5 miles,Professional Certificate,...,Medium,Good,70886.36,2,31,81,1989,35,6,17
13714,Software Engineer,F,Multiple,Corporation,Private,Atlas Enterprises,Portland,OR,<2 miles,Professional Certificate,...,Medium,Best,47913.34,1,3,31,1994,30,7,21
95085,Software Engineer,F,API,Retail Services,Franchise,Nexus Networks,Rochester,MN,5-10 miles,Masters Degree,...,Very High,Bad,47983.80,2,24,29,1986,38,14,20
252677,Specialist,F,Multiple,Management Consulting,Limited Liability Company,Catalyst Consulting,Chicago,IL,<2 miles,Associates Degree,...,Medium,Best,62443.51,2,64,79,1978,46,13,12
297067,Web Developer,M,API,Financial Advisory,Trust,Summit Strategies,Columbus,OH,>10 miles,Associates Degree,...,Very High,Best,68316.21,2,60,8,1991,33,9,13

In [ ]:
## registering the model.
tmp = register_model(pipeline, 
               score, 
               name="HR_ATTRITION_MODEL", 
               description="HR_ATTRITION_MODEL_analysing_using_ml_model",
               flavour=MLModelFlavours.sklearn,
               model_type="classification",
               init_script="\\n pip install fosforml \\n pip install seaborn \\n pip install snowflake-connector-python[pandas] \\n pip install joblib==1.3.2 scikit-learn=1.3.2",
               y_true=y_test,
               y_pred=y_pred, 
               features=X_train.columns,
               labels=[0,1],
               input_type="json", 
               explain_ai=True,
               prob=y_prob,
               x_train=X_train, 
               x_test=X_test, 
               y_train=y_train,
               y_test=y_test,
               feature_names=X_train.columns.tolist(),
               original_features=X_train.columns.tolist(),
               feature_ids=X_train.columns,
               target_names=['NOT LEFT','LEFT'],
               kyd=True, kyd_score = True)

In [ ]:
payload  = {"payload": X_test.iloc[0].to_dict()}
payload

In [ ]:
headers={"Content-type":"application/json"}
url = "http://svc-2968d356-6d79-4842-b39f-187a8750d14e:5001/hrattritionmodel/86005857-63ea-47ff-ae6f-6dcbb03d0fd0/score"
data={"payload": payload}
response = requests.post(url, json=data, headers=headers) 
response.json()

In [ ]:
result = pipeline.predict(X_test)
result_prob = pipeline.predict_proba(X_test)
pred_df = X_test.copy()
result = result
result_prob = result_prob
pred_df["PREDICTION"] = result
pred_df["PROB"] = result_prob[:, 1]

In [ ]:
from sklearn.metrics import classification_report, log_loss, roc_auc_score
 
# Check lengths
print("Length of y_test:", len(y_test))
print("Length of y_pred:", len(y_pred))
 
# Print classification report
print(classification_report(y_test, y_pred))
 
# Calculate accuracy
accuracy = sum(y_test == y_pred) / len(y_test)
print("Accuracy:", accuracy)
 
# Calculate additional metrics
log_loss_value = log_loss(y_test, y_prob)
roc_auc = roc_auc_score(y_test, y_prob[:, 1])  # Assuming class 1 is the positive class
 
print("Log Loss:", log_loss_value)
print("ROC AUC Score:", roc_auc)

In [ ]:
log_loss(y_test,pred_df["PROB"] )

In [ ]:
from sklearn.metrics import roc_curve, precision_recall_curve, confusion_matrix
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot as plt
import seaborn as sns
ns_probs = [0 for _ in range(len(y_test))]
ns_auc = roc_auc_score(y_test, ns_probs)
lr_auc = roc_auc_score(y_test, pred_df["PROB"])
ns_fpr, ns_tpr, _ = roc_curve(y_test, ns_probs)
lr_fpr, lr_tpr, _ = roc_curve(y_test, pred_df["PROB"])
# plot the roc curve for the model
plt.plot(ns_fpr, ns_tpr, linestyle='--', label='No Skill')
plt.plot(lr_fpr, lr_tpr, marker='.', label='Radnomforest')
# axis labels
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
# show the legend
plt.legend()
# show the plot
plt.show()

In [ ]:
lr_precision, lr_recall, _ = precision_recall_curve(y_test, pred_df["PROB"])
plt.plot(lr_recall, lr_precision, marker='.', label='Randomforest')
# axis labels
plt.xlabel('Recall')
plt.ylabel('Precision')
# show the legend
plt.legend()
# show the plot
plt.show()

In [ ]:
cm = confusion_matrix(y_test,y_pred)
 
#Plot the confusion matrix.
sns.heatmap(cm,
            annot=True,
            fmt='g',
            xticklabels=['Not Churn','Churn'],
            yticklabels=['Not CHurn','Churn'])
plt.ylabel('Prediction',fontsize=13)
plt.xlabel('Actual',fontsize=13)
plt.title('Confusion Matrix',fontsize=17)
plt.show()

In [ ]:
scores_data = pd.DataFrame({"ns_probs":ns_probs,
                            "y_test":y_test,
                            "y_pred":pred_df["PREDICTION"],
                            "act_probs":pred_df["PROB"]})

In [ ]:
scores_data

In [ ]:
scores_data.to_csv("/data/scores.csv", index=False)

In [ ]:
print(f"Length of ns_probs: {len(ns_probs)}")
print(f"Length of y_pred: {len(pred_df['PREDICTION'])}")
print(f"Length of y_test_binary: {len(y_test)}")
print(f"Length of act_probs: {len(pred_df['PROB'])}")

In [ ]:
# Define or use the prediction function
def model_prediction_score_func(dataframe):
    # Ensure 'dataframe' has the correct features required by the model
    return pipeline.predict(dataframe)  # Use your trained pipeline/model here
 
# Assuming df is your input DataFrame with the necessary features
Original_df['Model_Output'] = model_prediction_score_func(Original_df)

In [ ]:
print(Original_df.head())

In [ ]:
Original_df.to_csv("/data/Original_Hr_Attrition.csv", index=False)

In [ ]:
print("Columns in X_test:", X_test.columns)
print("Columns in Original_df:", Original_df.columns)

In [ ]:
# Define or use the prediction function
def model_prediction_score_func(dataframe):
    # Ensure 'dataframe' has the correct features required by the model
    return pipeline.predict(dataframe)  # Use your trained pipeline/model here
 
# Assuming df is your input DataFrame with the necessary features
df['Model_Output'] = model_prediction_score_func(df)
 
# If you have a DataFrame with test data and you want to merge predictions
# Assuming X_test is the DataFrame for which predictions are made
X_test_with_predictions = X_test.copy()
X_test_with_predictions['Model_Output'] = model_prediction_score_func(X_test)
 
# Display the first few rows to verify
print(X_test_with_predictions.head())
 
# Optionally, save the combined DataFrame to a CSV file
X_test_with_predictions.to_csv("/data/combined_predictions.csv", index=False)

In [ ]:
X_test